{%extends "base.html" %} {% block mainbody %}

<div class="contact">
  <h2>Contact Us</h2>
</div>

<hr />

<div class="contact">
  <p>
    We try our best to provide user-friendly web services to all users. Please
    feel free to contact us via:
  </p>
  <div class="contact">
    <ul style="list-style: disc">
      <li>
        Zhang<br />
        <p style="color: blue">2021522@stu.suda.edu.com</p>
      </li>
      <li>
        Zhang<br />
        <p style="color: blue">2021522@stu.suda.edu.com</p>
      </li>
      <li>
        Zhang<br />
        <p style="color: blue">2021522@stu.suda.edu.com</p>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" style="margin-top: 270px">
  <hr />
  <p style="margin-bottom: 2px">Please cite the following paper:</p>
  <p>Architecture of functional PTM site predict</p>
</div>

{% endblock %}
