{%extends "base.html" %} {% block mainbody %}

<div class="download">
  <div class="flex">
    <p>download</p>
  </div>
  <div class="flex1">
    <table>
      <tr>
        <th>PTM types</th>
        <th>number of proteins</th>
        <th>number of sites</th>
      </tr>
      <tr>
        <td>
          <a href="file1"> human_uniport </a>
        </td>
        <td>204961</td>
        <td>13565</td>
      </tr>
      <tr>
        <td>
          <a>A</a>
        </td>
        <td>1000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td><a>B</a></td>
        <td>1000</td>
        <td>2000</td>
      </tr>
      <tr>
        <td><a>C</a></td>
        <td>1000</td>
        <td>1000</td>
      </tr>
    </table>
  </div>
  <div class="flex">
    <p>download</p>
  </div>
</div>

<div class="container-fluid" style="margin-top: 241px">
  <hr />
  <p style="margin-bottom: 2px">Please cite the following paper:</p>
  <p>Architecture of functional PTM site predict</p>
</div>

{% endblock %}
