<nav class="navbar navbar-expand-sm bg navbar-light">
  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div
    class="collapse navbar-collapse justify-content-center"
    id="collapsibleNavbar"
  >
    <ul class="navbar-nav">
      <li class="nav-item" style="font-size: 22px; padding: 0 25px">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item" style="font-size: 22px; padding: 0 25px">
        <a class="nav-link" href="#">Search</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" style="font-size: 22px; padding: 0 25px">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-bs-toggle="dropdown"
        >
          Tools
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="seq">FuncPhos-SEQ</a>
          <a class="dropdown-item" href="#">FuncPhos-STR</a>
        </div>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" style="font-size: 22px; padding: 0 25px">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-bs-toggle="dropdown"
        >
          Download
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Statistics</a>
          <a class="dropdown-item" href="download">Download</a>
        </div>
      </li>
      <li class="nav-item" style="font-size: 22px; padding: 0 25px">
        <a class="nav-link" href="contact">Contact</a>
      </li>
      <li class="nav-item" style="font-size: 22px; padding: 0 25px">
        <a class="nav-link" href="help">Help</a>
      </li>
    </ul>
  </div>
</nav>
