{%extends "base.html" %} {% block mainbody %}
<div class="flex bg text-black">
  <div class="container-fluid pt-4 my-3 text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2 text-center">
        <h3>PTM Inspried<br />Drug Design</h3>
      </div>
      <div class="col-6">
        <h3>
          FuncPhos-SEQ-Functional Evaluation of Phosphosites based on Protein
          Sequence and PPI architecture
        </h3>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
{% include "navbar.html" %}

<div class="container p-3" style="margin-top: 10px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h4><b>Welcome to FuncPhos-SEQ</b></h4>
        <p class="text-size" style="margin-left: 2%; text-align: justify">
          Current biochemical and bioinformatics approaches have only identified
          kinases for a tiny fraction of the phosphoproteome, and functional
          assignments of phosphosites are almost negligible. Improving our
          understanding of the substrates targeted by all kinases and
          functionally annotating the phosphoproteome will be broadly
          beneficial. In this study, we analyzed the substrate preference
          catalyzed by specific kinase and presented a novel integrated deep
          neural network named FuncPhos for functional assignment of proteomics
          phosphosites, by extracting and combining sequence and PPI
          information.
        </p>
      </div>
      <div class="col-6">
        <img class="mx-auto d-block img-fluid" src="../static/files/2.png" />
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h4><b>SUBMIT</b></h4>
    <form action="startPredict" id="form" method="post">
      {% csrf_token %}
      <div class="container mt-3">
        <label for="model" class="form-label text-size"
          >Please select a prediction model:</label
        >
        <select class="form-select" name="model" id="model">
          <option>Activity</option>
          <option>Activity(Y)</option>
          <option>Activity(ST)</option>
          <option>PPI</option>
          <option>PPI(Y)</option>
          <option>PPI(ST)</option>
          <option>Regulation</option>
          <option>Regulation(Y)</option>
          <option>Regulation(ST)</option>
        </select>
      </div>

      <div class="container mt-3" id="textinput">
        <div class="mb-3 mt-3">
          <label class="text-size">
            Paste input FASTA sequence in the area below:
          </label>
          <button
            type="button"
            id="loadExample"
            class="btn btn-sm text-size"
            style="color: blue; margin-bottom: 3px"
          >
            Load example FASTA
          </button>
          <textarea
            class="form-control"
            rows="10"
            id="inputseq"
            name="inputseq"
            placeholder=">..."
            s
          ></textarea>
        </div>
        <div class="d-flex">
          <div class="p-0 mt-1">
            <p class="text-size">Or:</p>
          </div>
          <div class="p-0 flex-grow-1">
            <button
              type="button"
              id="openfile"
              class="btn btn-sm text-size"
              style="color: blue"
            >
              upload a FASTA files
            </button>
          </div>
          <div class="p-0">
            <button
              type="button"
              id="submit"
              class="btn btn-primary btn-block text-size"
            >
              Start prediction
            </button>
          </div>
        </div>
      </div>
      <div class="container mt-3" id="fileinput" style="display: none">
        <div
          class="p-3 mb-3 mt-3 text-center"
          style="box-shadow: 3px 3px 10px #888888"
        >
          <img
            id="openfileimg"
            src="../static/files/upload.png"
            style="width: 250px; height: 250px"
          />
          <p id="uploadmsg">Click to upload (only support the FASTA format).</p>
          <button
            type="button"
            id="back"
            class="btn btn-primary btn-block text-size"
          >
            Back to paste sequence(s)
          </button>
          <input type="file" id="openfileinput" hidden />
        </div>
        <div class="d-flex flex-row-reverse">
          <button
            type="button"
            id="submit1"
            class="btn btn-primary btn-block text-size"
          >
            Start prediction
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="container mt-3 text-center" id="loading" style="display: none">
    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-warning"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-grow text-secondary"></div>
    <div class="spinner-grow text-dark"></div>
    <div class="spinner-grow text-light"></div>
  </div>

  <div id="result" class="w-100 mt-3" style="display: none">
    <div class="rangetag">
      <div id="tag"></div>
    </div>
    <input
      type="range"
      class="form-range"
      id="range"
      min="0"
      max="1"
      step="0.001"
      value="0"
      list="tickmarks"
    />
    <datalist id="tickmarks">
      <option>0</option>
      <option>0.25</option>
      <option>0.50</option>
      <option>0.75</option>
      <option>1</option>
    </datalist>
    <div class="text-center bg" style="border-radius: 0.25em">
      <p id="seqmsg"></p>
    </div>
    <div id="sequencebox" class="sequencebox d-flex flex-row">
      <div style="color: dodgerblue; margin-right: 20px">Sequence</div>
      <div>
        <div class="sequence" id="sequence">
          <!-- filled by javascript -->
        </div>
        <div class="sequence ticks" id="ticks">
          <!-- filled by javascript -->
        </div>
      </div>
    </div>
    <div class="pt-2">
      <button type="button" id="save" class="btn btn-primary btn-block">
        Save the prediction results to a file
      </button>
    </div>
  </div>

  <span id="resultbottom"></span>
</div>

<!-- 模态框 -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- 模态框内容 -->
      <div class="modal-body"></div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Got it!
        </button>
      </div>
    </div>
  </div>

  {{data|safe}}
</div>

<!-- {{html1|safe}}

{{html2|safe}} -->

{% endblock %}
